.photo-grid__list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
	gap: 16px;
	justify-content: center;
	list-style-type: none;
}

@media screen and (max-width: 1024px) {
	.photo-grid__list {
		gap: 14px;
		row-gap: 8px;
	}
}

@media screen and (max-width: 768px) {
	.photo-grid__list {
		gap: 16px;
		row-gap: 6px;
	}
}

@media screen and (max-width: 320px) {
	.photo-grid__list {
		gap: 8px;
	}
}
