/* normalize css */
@import url(./vendor/normalize.css);
/* fonts */
@import url(./fonts/font.css);

.body {
  background: #2a2c2f;
  color: #fff;
  font-family: "Inter", Helvetica, sans-serif;
}

.content {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin: 0 auto;
  padding: 28px 0 56px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 176px;
  height: 52px;
}
.header__lang-links {
  display: flex;
  column-gap: 18px;
  align-items: flex-end;
}

.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
}

/* lead */

.lead {
  margin: 0 auto;
  text-align: center;
  max-width: 984px;
}
.lead__title {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}
.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.lead__way {
  margin: 0;
}
.lead__image {
  width: 100%;
  /* max-height: 615px; */
  height: auto;
}
.lead__caption {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: left;
}

/* intro */

.intro {
  padding-top: 92px;
  max-width: 984px;
  margin: auto;
}

.intro__title {
  margin: 0;
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__text {
  margin: 40px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 690px;
}

.intro__list {
  margin-top: 33px;
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  max-width: 690px;
}

.intro__item {
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

/* photo-grid */
.photo-grid {
  padding: 78px 0;
  /* or padding: 78px 0; */
}

.photo-grid__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-content: center;
  list-style-type: none;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}

/* places */

.places {
  max-width: 984px;
  margin: 0 auto;
}

.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 48px;
  column-gap: 17px;
}

.place__title {
  margin: 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  align-self: end;
  justify-self: start;
}

.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
}

.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration-line: underline;
}

.place__image {
  grid-row-start: 2;
  width: 460px;
  height: 460px;
}

.place__paragraph {
  max-width: 484px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
.place__paragraph:not(:last-child) {
  margin: 0 0 26px;
}

/* cover */

.cover {
  margin: 12px 0 92px;
  position: relative;
  max-width: 1184px;
  height: 740px;
  background: url(./images/cover-trains.jpg) center center;
  background-size: cover;
  z-index: 1;
}

.cover__title {
  margin: 0 0 32px;
  text-align: center;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.cover__subtitle {
  margin: 0;
  text-align: center;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s linear;
  z-index: -1;
  text-decoration: none;
  color: #fff;
  background-color: hsla(216, 6%, 17%, 0.3);
}

.cover__overlay:hover {
  background-color: #2a2c2f;
  opacity: 0.8;
}

.footer {
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  column-gap: 18px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* global mix */
.link {
  transition: all 0.4s linear;
}
.link:hover {
  opacity: 0.8;
}
